# ESIOS API token (https://api.esios.ree.es)
# Required to pull ancillary-services indicators and to fill 2019-2021
# of the OMIE day-ahead price that the forecasting cache does not cover.
# Request a token by emailing consultasios@ree.es.
ESIOS_API_TOKEN=
